<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 평가 페이지</title>
</head>
<body>
    <div class="container">
        <h1><%= users[0].dataValues.username%>님이 받은 평가</h1>
        <table>
            <tr>
                <td><label>신뢰성이 있어요</label></td>
                <td><%= evaluations[0].dataValues.reliability %></td>
            </tr>
            <tr>
                <td><label>문제를 잘 해결해요</label></td>
               <td><%= evaluations[0].dataValues.solving %></td>
            </tr>
            <tr>
                <td><label>커뮤니케이션 능력이 뛰어나요</label></td>
                <td><%= evaluations[0].dataValues.communication %></td>
            </tr>
            <tr>
                <td><label>다른 의견을 존중하고 이해하려는 태도가 있어요</label></td>
                <td><%= evaluations[0].dataValues.attitude %></td>
            </tr>
        </table>
</body>
</html>
